<footer>
	<hr />
	<p>© 2025 Hung-Su</p>
	<ul>
		<li><a href="/feed.xml">RSS</a></li>
		<li><a class="external-link" href="https://mstdn.social/@hungsu">Mastodon</a></li>
		<li><a class="external-link" href="https://github.com/hungsu">Github</a></li>
		<li><a class="external-link" href="https://www.linkedin.com/in/hungsu/">LinkedIn</a></li>
	</ul>
</footer>
<script async src="https://cdn.jsdelivr.net/npm/lucide@0.115.0/dist/umd/lucide.min.js"></script>
<script async src="/scripts/deferred.js"></script>