<footer>
	<hr />
	<p>© 2025 Hung-Su</p>
	<ul>
		<li><a href="/feed.xml">RSS</a></li>
		<li><a class="external-link" href="https://mstdn.social/@hungsu">Mastodon</a></li>
		<li><a class="external-link" href="https://github.com/hungsu">Github</a></li>
		<li><a class="external-link" href="https://www.linkedin.com/in/hungsu/">LinkedIn</a></li>
	</ul>
</footer>