<div id="contact_buttons">
    <footer>
        <p>© 2023 Hung-Su</p>
        <ul>
            <li><a href="https://mstdn.social/@hungsu">Mastodon</a></li>
            <li><a href="https://github.com/hungsu">Github</a></li>
            <li><a href="https://www.linkedin.com/in/hungsu/">LinkedIn</a></li>
        </ul>
    </footer>
</div>
