<div class="header-actions">

<div class="search-button" onclick="toggleSearch()">
    <span class="search-icon">
        <i class="fa fa-search"></i>
            CTRL + K
        </span>
    </span>
</div>

<button class="button-dark-mode" onclick="toggleDarkMode()" aria-label="Toggle dark mode">
    <div class="icon"></div>
</button>
</div>
<script>
window.toggleDarkMode = function() {
document.querySelector('body').classList.toggle('theme-dark');
document.querySelector('body').classList.toggle('theme-light');
}
</script>
</div>
