<div class="header-actions">

<button class="search-button" onclick="toggleSearch()">
    <i icon-name="search" ></i>
</button>

<button class="button-dark-mode" onclick="toggleDarkMode()" aria-label="Toggle dark mode">
    <div class="icon"></div>
</button>
</div>
<script>
window.toggleDarkMode = function() {
document.querySelector('body').classList.toggle('theme-dark');
document.querySelector('body').classList.toggle('theme-light');
}
</script>
</div>
