body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
  --list-indent: 1em;
  .header-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .filetree-sidebar {
    height: auto;
    position: absolute;
    top: 4.7rem;
    padding: 0 0.7rem;
  }
  .navbar {
    padding: 0
  }
  .navbar-inner {
    h1 {
      padding: 0;
    }
  }
  .navbar-inner i.fa-bars {
    padding: 1.5rem;
  }
  .search-button {
    border: none;
    box-shadow: none;
    margin:0;
    padding: 0;
    min-width: initial;
    background-color: transparent;
    &:hover {
      border: none;
    }
  }
  .search-icon {
    margin-left: 0;
    font-size: 1.5em;
  }
  .fullpage-overlay {
    position: fixed;
  }
  .footnote-item > p {
    margin-top: 0;
  }
  footer {
    text-align: center;
    ul {
      display: flex;
      align-items: center;
      flex-direction: row;
      list-style: none;
      justify-content: center;
      padding-inline-start: 0 !important;
    }
    li:not(:first-child)::before {
      content:"·";
      padding: 0 1em;
    }
  }
  .callout {
    font-family: 'Spectral', 'Times New Roman', 'serif';
  }
  [data-callout="quote"] .callout-content .tag {display:none;}
}

@media (min-width:640px) {
  // I don't like this very much - it ignores the --font-text-size variable
  .content {
    font-size: 20px;
  }
}

// at 800px, nav.navbar height changes
@media (max-width:800px) {
  body {
    --file-margins: var(--size-4-4);
    .filetree-sidebar {
      top: 3.3rem;
      padding: 0 0.3rem;
    }
  }

  .content {
    font-size: var(--font-text-size);
    margin-top: 58px; // height of nav.navbar
  }
  body .navbar-inner i.fa-bars {
    font-size: 1.25rem !important; // overcome inline style
    padding: var(--size-4-4);
  }
}

.button-dark-mode {
  border: none;
  background-color: transparent !important; // To overcome button:not(.clickable-icon) from obsidian-base.scss
  box-shadow: none !important;
  transform: scale(.6);
  height: 52px; // height of search button including margins
  &:hover {
    cursor: pointer;
  }
  .icon {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    position: relative;
    box-shadow: inset 16px -16px 0 0 #fff;
    transform: scale(1) rotate(-2deg);
    transition: box-shadow .5s ease 0s,transform .4s ease .1s;
    --color-icon: hsl(25, 100%, 61%);
  }
  .icon::before {
    content: "";
    width: inherit;
    height: inherit;
    border-radius: inherit;
    position: absolute;
    left: 0;
    top: 0;
    transition: background .3s ease;
  }

  .icon::after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: -4px 0 0 -4px;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 -23px 0 var(--color-icon),0 23px 0 var(--color-icon),23px 0 0 var(--color-icon),-23px 0 0 var(--color-icon),15px 15px 0 var(--color-icon),-15px 15px 0 var(--color-icon),15px -15px 0 var(--color-icon),-15px -15px 0 var(--color-icon);
    transform: scale(0);
    transition: all .3s ease;
  }
}

.theme-light .button-dark-mode {
  .icon {
    box-shadow: inset 32px -32px 0 0 #fff;
    transform: scale(.5) rotate(0deg);
    transition: transform .3s ease .1s,box-shadow .2s ease 0s;
  }
  .icon::before {
    background: var(--color-icon);
    transition: background .3s ease .1s;
  }
  .icon::after {
    transform: scale(1.5);
    transition: transform .5s ease .15s;
  }
}
